apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f docker-compose-citus.yml -c -o patroni-compose
    kompose.version: 1.33.0 (3ce457399)
  labels:
    io.kompose.service: etcd2
  name: etcd2
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: etcd2
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -f docker-compose-citus.yml -c -o patroni-compose
        kompose.version: 1.33.0 (3ce457399)
      labels:
        io.kompose.network/patroni-demo: "true"
        io.kompose.service: etcd2
    spec:
      containers:
        - args:
            - etcd
            - --name
            - etcd2
            - --initial-advertise-peer-urls
            - http://etcd2:2380
          env:
            - name: ETCD_INITIAL_CLUSTER
              value: etcd1=http://etcd1:2380,etcd2=http://etcd2:2380,etcd3=http://etcd3:2380
            - name: ETCD_INITIAL_CLUSTER_STATE
              value: new
            - name: ETCD_INITIAL_CLUSTER_TOKEN
              value: tutorial
            - name: ETCD_LISTEN_CLIENT_URLS
              value: http://0.0.0.0:2379
            - name: ETCD_LISTEN_PEER_URLS
              value: http://0.0.0.0:2380
            - name: ETCD_UNSUPPORTED_ARCH
              value: arm64
          image: harbor.io.optimcloud.com/optimcloud/patroni-citus:latest
          name: demo-etcd2
          ports:
            - containerPort: 2379
              protocol: TCP
            - containerPort: 2380
              protocol: TCP
      hostname: etcd2
      restartPolicy: Always
